<h1>Munkalap készítése</h1>
<h3>Válasszon ügyfelet, (és akár járművet), majd ajánlatot a részletek betöltéséhez. Egészítse ki, amennyiben szükséges!
</h3>

<div class="form-container two-column-input-container">

  <div>
    <h4>Ajánlat</h4>

    <form [formGroup]="addWorksheetForm">
      <div class="input-container">

        <mat-form-field class="input-field no-left-margin">
          <mat-label>Válasszon partnert!</mat-label>
          <input matInput [formControl]="customerControl" [matAutocomplete]="autoCustomer"
            (blur)="onInputBlur($event, 'customer')">
          <mat-autocomplete #autoCustomer="matAutocomplete" [displayWith]="displayCustomer"
            (optionSelected)="onCustomerOptionSelected($event.option.value)">
            <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
              {{ customer.id }}: {{ customer.name }} ({{ customer.postcode }} {{ customer.city }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="input-field no-left-margin">
          <mat-label>Válassza ki a járművet!</mat-label>
          <input matInput [formControl]="vehicleControl" [matAutocomplete]="autoVehicle"
            [disabled]="!isCustomerSelected" (blur)="onInputBlur($event, 'vehicle')">
          <mat-autocomplete #autoVehicle="matAutocomplete" [displayWith]="displayVehicle"
            (optionSelected)="onVehicleOptionSelected($event.option.value)">
            <mat-option *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle">
              {{ vehicle.id }}: {{ vehicle.licencePlate }} ({{ vehicle.vin }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="input-field no-left-margin">
          <mat-label>Válassza ki az ajánlatot!</mat-label>
          <mat-select [formControl]="quotationControl" (selectionChange)="onQuotationOptionSelected($event)"
            [disabled]="!isCustomerSelected">
            <mat-option *ngFor="let quotation of quotations" [value]="quotation">
              {{ quotation.id }}: <span *ngIf="isVehicleSelected">{{ selectedVehicle?.licencePlate }} - </span>
              {{ quotation.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card *ngIf="selectedQuotation">
          <mat-card-header>
            <mat-card-title>Ajánlat száma: {{ selectedQuotation.id }}</mat-card-title>
            <mat-card-subtitle>Ajánlattevő azonosítója: {{ selectedQuotation.createdBy }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Megjegyzés: <i>{{ selectedQuotation.description }}</i></p>
            <table>
              <thead>
                <tr>
                  <th>Cikkszám</th>
                  <th>Megnevezés</th>
                  <th>Mennyiség</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let job of jobsOnQuotation">
                  <td>{{ job.materialId }}</td>
                  <td>{{ getJobMaterialById(job.materialId.toString())?.description }}</td>
                  <td>{{ job.unit }}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </form>
  </div>

  <div *ngIf="selectedQuotation">
    <h4>További alkatrészek / munkák hozzáadása</h4>

    <form (ngSubmit)="addNewMaterial()" [formGroup]="addMaterialForm">
      <div class="input-container">
        <div class="sub-form">
          <mat-form-field class="input-field">
            <mat-label>Alkatrész/munka</mat-label>
            <input matInput [formControl]="materialControl" [matAutocomplete]="autoMaterial">
            <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayMaterials"
              (optionSelected)="onMaterialOptionSelected($event.option.value)">
              <mat-option *ngFor="let material of filteredMaterials | async" [value]="material">
                {{ material.materialNumber }}: {{ material.description }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="input-field narrow">
            <mat-label>Mennyiség</mat-label>
            <input matInput formControlName="quantity" type="number" min="1">
            <mat-error *ngIf="isInvalidMatField('quantity')">
              Adja meg a mennyiséget!
            </mat-error>
          </mat-form-field>

          <button mat-raised-button class="sub-form-button">
            <mat-icon>save</mat-icon>
          </button>
        </div>

        <div class="parts-table-container">
          <app-dynamic-table [data]="materialsAdded"></app-dynamic-table>
        </div>
      </div>
    </form>
  </div>

</div>
