<mat-toolbar color="primary">
  <button mat-icon-button class="menu-toggler" (click)="sidenav.toggle()" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MechApp</span>
  <span class="spacer"></span>

  <div class="menu-items">
    <button mat-button routerLink="/">Kezdőlap</button>
    <button mat-button [matMenuTriggerFor]="quotationMenu"
      *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Ajánlat</button>
    <button mat-button [matMenuTriggerFor]="garageMenu" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Garázsok</button>
    <button mat-button [matMenuTriggerFor]="clientMenu" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Partnerek</button>
    <button mat-button [matMenuTriggerFor]="worksheetMenu"
      *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Munkalapok</button>
    <button mat-button [matMenuTriggerFor]="vehicleMenu"
      *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Gépjárművek</button>
    <button mat-button [matMenuTriggerFor]="carPartsMenu"
      *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Alkatrészek</button>
    <button mat-button [matMenuTriggerFor]="invoiceMenu" *ngIf="canSeeMenuItem(accessLevels.Manager)">Számlák</button>

    <mat-menu #quotationMenu="matMenu">
      <button mat-menu-item routerLink="/quotation/view" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
        Ajánlat megtekintése
      </button>
      <button mat-menu-item routerLink="/quotation/create" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
        Ajánlat készítése
      </button>
      <button mat-menu-item routerLink="/quotation/edit" *ngIf="canSeeMenuItem(accessLevels.Manager)">
        Ajánlat módosítása
      </button>
    </mat-menu>

    <mat-menu #garageMenu="matMenu">
      <button mat-menu-item routerLink="/garages" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Garázs
        ellenőrzése</button>
    </mat-menu>

    <mat-menu #clientMenu="matMenu">
      <button mat-menu-item routerLink="/customer/list" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
        Partnerek megtekintése
      </button>
      <button mat-menu-item routerLink="/customer/add" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
        Új partner felvétele
      </button>
      <button mat-menu-item routerLink="/customer/edit" *ngIf="canSeeMenuItem(accessLevels.Manager)">
        Partner módosítása
      </button>
    </mat-menu>

    <mat-menu #worksheetMenu="matMenu">
      <button mat-menu-item routerLink="/worksheet/view" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
        Munkalap megtekintése
      </button>
      <button mat-menu-item routerLink="/worksheet/add" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
        Munkalap készítése
      </button>
      <button mat-menu-item routerLink="/worksheet/edit" *ngIf="canSeeMenuItem(accessLevels.Manager)">
        Munkalap módosítása
      </button>
      <button mat-menu-item routerLink="/worksheet/edit-closed" *ngIf="canSeeMenuItem(accessLevels.Manager)">
        Lezárt munkalap módosítása
      </button>
    </mat-menu>

    <mat-menu #vehicleMenu="matMenu">
      <button mat-menu-item routerLink="/vehicle/list"
        *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Gépjárművek</button>
      <button mat-menu-item routerLink="/vehicle/add" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
        Új gépjármű felvétele
      </button>
      <button mat-menu-item routerLink="/vehicle/edit" *ngIf="canSeeMenuItem(accessLevels.Manager)">
        Gépjármű adatainak módosítása
      </button>
    </mat-menu>

    <mat-menu #carPartsMenu="matMenu">
      <button mat-menu-item routerLink="/car-part/list"
        *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Alkatrészek</button>
      <button mat-menu-item routerLink="/car-part/add" *ngIf="canSeeMenuItem(accessLevels.Manager)">
        Alkatrész hozzáadása
      </button>
    </mat-menu>

    <mat-menu #invoiceMenu="matMenu">
      <button mat-menu-item routerLink="/invoice/view" *ngIf="canSeeMenuItem(accessLevels.Manager)">Számlák
        megtekintése</button>
      <button mat-menu-item routerLink="/invoice/create" *ngIf="canSeeMenuItem(accessLevels.Manager)">Számlázás</button>
    </mat-menu>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/login" *ngIf="!loggedIn">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
    <button mat-menu-item *ngIf="loggedIn" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <div class="mobile-menu">
      <button mat-menu-item routerLink="/">Kezdőlap</button>
      <button mat-menu-item [matMenuTriggerFor]="quotationMenuMobile">
        Ajánlat
      </button>
      <button mat-menu-item [matMenuTriggerFor]="garageMenuMobile">
        Garázsok
      </button>
      <button mat-menu-item [matMenuTriggerFor]="clientMenuMobile">
        Partnerek
      </button>
      <button mat-menu-item [matMenuTriggerFor]="worksheetMenuMobile">
        Munkalapok
      </button>
      <button mat-menu-item [matMenuTriggerFor]="vehicleMenuMobile">
        Gépjárművek
      </button>
      <button mat-menu-item [matMenuTriggerFor]="carPartsMenuMobile">
        Alkatrészek
      </button>
      <button mat-menu-item [matMenuTriggerFor]="invoiceMenuMobile" *ngIf="canSeeMenuItem(accessLevels.Manager)">
        Számlák
      </button>

      <mat-menu #quotationMenuMobile="matMenu">
        <button mat-menu-item routerLink="/quotation/view" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
          Ajánlat megtekintése
        </button>
        <button mat-menu-item routerLink="/quotation/create" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
          Ajánlat készítése
        </button>
        <button mat-menu-item routerLink="/quotation/edit" *ngIf="canSeeMenuItem(accessLevels.Manager)">
          Ajánlat készítése
        </button>
      </mat-menu>

      <mat-menu #garageMenuMobile="matMenu">
        <button mat-menu-item routerLink="/garages" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Garázs
          ellenőrzése</button>
      </mat-menu>

      <mat-menu #clientMenuMobile="matMenu">
        <button mat-menu-item routerLink="/customer/list" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
          Partnerek megtekintése
        </button>
        <button mat-menu-item routerLink="/customer/add" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
          Új partner felvétele
        </button>
        <button mat-menu-item routerLink="/customer/edit" *ngIf="canSeeMenuItem(accessLevels.Manager)">
          Partner módosítása
        </button>
      </mat-menu>

      <mat-menu #worksheetMenuMobile="matMenu">
        <button mat-menu-item routerLink="/worksheet/view" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
          Munkalap megtekintése
        </button>
        <button mat-menu-item routerLink="/worksheet/add" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
          Munkalap készítése
        </button>
        <button mat-menu-item routerLink="/worksheet/edit" *ngIf="canSeeMenuItem(accessLevels.Manager)">
          Munkalap módosítása
        </button>
        <button mat-menu-item routerLink="/worksheet/edit-closed" *ngIf="canSeeMenuItem(accessLevels.Manager)">
          Lezárt munkalap módosítása
        </button>
      </mat-menu>

      <mat-menu #vehicleMenuMobile="matMenu">
        <button mat-menu-item routerLink="/vehicle/list"
          *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Gépjárművek</button>
        <button mat-menu-item routerLink="/vehicle/add" *ngIf="canSeeMenuItem(accessLevels.Mechanic)">
          Új gépjármű felvétele
        </button>
        <button mat-menu-item routerLink="/vehicle/edit" *ngIf="canSeeMenuItem(accessLevels.Manager)">
          Gépjármű módosítása
        </button>
      </mat-menu>

      <mat-menu #carPartsMenuMobile="matMenu">
        <button mat-menu-item routerLink="/car-part/list"
          *ngIf="canSeeMenuItem(accessLevels.Mechanic)">Alkatrészek</button>
        <button mat-menu-item routerLink="/car-part/add" *ngIf="canSeeMenuItem(accessLevels.Manager)">
          Alkatrész hozzáadása
        </button>
      </mat-menu>

      <mat-menu #invoiceMenuMobile="matMenu">
        <button mat-menu-item routerLink="/invoice/view" *ngIf="canSeeMenuItem(accessLevels.Manager)">
          Számlák megtekintése
        </button>
        <button mat-menu-item routerLink="/invoice/create"
          *ngIf="canSeeMenuItem(accessLevels.Manager)">Számlázás</button>
      </mat-menu>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
