<h1>Ügyféllista</h1>
<ng-container *ngIf="customersLoaded$ | async; else templateLoading">
  <mat-form-field class="filter-input">
    <mat-label>Keresés</mat-label>
    <mat-icon matSuffix>filter_alt</mat-icon>
    <input matInput (keyup)="applyFilter($any($event.target).value)">
  </mat-form-field>

  <table mat-table [dataSource]="customers" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 customer-table">
    <caption>Ügyféllista</caption>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="ID szerint"> Partner ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Név szerint"> Partner neve </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ország szerint"> Ország </th>
      <td mat-cell *matCellDef="let element"> {{ element.country }} </td>
    </ng-container>

    <ng-container matColumnDef="postcode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Irányítószám szerint"> Irányítószám
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.postcode }} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Város szerint"> Város </th>
      <td mat-cell *matCellDef="let element"> {{ element.city }} </td>
    </ng-container>

    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Cím szerint"> Cím </th>
      <td mat-cell *matCellDef="let element"> {{ element.street }} </td>
    </ng-container>

    <ng-container matColumnDef="houseNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Házszám szerint"> Házszám </th>
      <td mat-cell *matCellDef="let element"> {{ element.houseNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="E-mail szerint"> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Telefonszám szerint"> Telefonszám
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.phoneNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="taxNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Adószám szerint"> Adószám </th>
      <td mat-cell *matCellDef="let element"> {{ element.taxNumber }} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Módosítás </th>
      <td mat-cell class="edit-cell" *matCellDef="let element">
        <a [routerLink]="'/customer/edit/' + element.id">
          <mat-icon color="accent">edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons aria-label="Select page">
  </mat-paginator>
</ng-container>

<ng-template #templateLoading>
  <p>Töltés...</p>
</ng-template>
